body {
  margin:0;
}

#grid-container {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

div[class^="row"] {
  width: fit-content;
  height:15px;
  display:block;
  align-items: center;
}

.block {
  width:15px;
  height:15px;
  margin:0px;
  background-color: red;
  display: inline-block;
}

.block:hover {
  background-color: blue;
}

