body {
  margin:0;
  display:grid;
  min-height: 100vh;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

#grid-container {
  margin-left:auto;
  margin-right:auto;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  vertical-align: middle;
}

#button-grid {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

div[class^="row"] {
  width: fit-content;
  height:fit-content;
  display:block;
  align-items: center;
  margin-left:auto;
  margin-right:auto;
}

.block {
  /* width:15px;
  height:15px; */
  margin:0px;
  background-color: red;
  display: inline-block;
}

.block:hover {
  background-color: blue;
}

